## Project Background:

Chicago-based startup firm - Enso Street is developing a local sharing platform that focuses on family tools and equipment. The firm is planning to launch the beta version of the platform in March 2020. It is of paramount importance for the firm to select the three most suitable communities in Chicago to roll out its service. The success in this effort would help the startup to find product-market fit and gain meaningful operating metrics before their next funding event.  The founding team engaged us to carry out the research and analytics to identify the three target communities in Chicago.

In [13]:
# The code was removed by Watson Studio for sharing.

,Community Area Number,COMMUNITY AREA NAME,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT OF HOUSING CROWDED,PERCENT AGED 16+ UNEMPLOYED,HARDSHIP INDEX,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
0,1.0,Rogers Park,23.6,18.2,7.7,8.7,39.0,27.5,23939
1,2.0,West Ridge,17.2,20.8,7.8,8.8,46.0,38.5,23040
2,3.0,Uptown,24.0,11.8,3.8,8.9,20.0,22.2,35787
3,4.0,Lincoln Square,10.9,13.4,3.4,8.2,17.0,25.5,37524
4,5.0,North Center,7.5,4.5,0.3,5.2,6.0,26.2,57123

In [14]:
#remove rows that don't have value in COMMUNITY AREA Number column

df_cleaned = df_data_1[df_data_1['Community Area Number'].notna()]
df_cleaned = df_cleaned.drop(columns=['Community Area Number'])
df_cleaned = df_cleaned.rename(columns={'PER CAPITA INCOME ':'PER CAPITA INCOME'})

Select the communities based on demographic information

In [15]:
#quickly look at the cleaned dataframe
df_cleaned.head(5)

,COMMUNITY AREA NAME,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT OF HOUSING CROWDED,PERCENT AGED 16+ UNEMPLOYED,HARDSHIP INDEX,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
0,Rogers Park,23.6,18.2,7.7,8.7,39.0,27.5,23939
1,West Ridge,17.2,20.8,7.8,8.8,46.0,38.5,23040
2,Uptown,24.0,11.8,3.8,8.9,20.0,22.2,35787
3,Lincoln Square,10.9,13.4,3.4,8.2,17.0,25.5,37524
4,North Center,7.5,4.5,0.3,5.2,6.0,26.2,57123

In [16]:
#let's select the communities with above average socioeconomic indicators

pct_poverty = df_cleaned['PERCENT HOUSEHOLDS BELOW POVERTY']
pct_hsdiploma = df_cleaned['PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA']
pct_crowded = df_cleaned['PERCENT OF HOUSING CROWDED']
pct_unemployed = df_cleaned['PERCENT AGED 16+ UNEMPLOYED']
hardship = df_cleaned['HARDSHIP INDEX']
pct_agegroup = df_cleaned['PERCENT AGED UNDER 18 OR OVER 64']
pc_income = df_cleaned['PER CAPITA INCOME']

df_filtered = df_cleaned.loc[(pct_poverty    < pct_poverty.mean())
                            &(pct_hsdiploma  < pct_hsdiploma.mean())
                            &(pct_crowded    < pct_crowded.mean())
                            &(pct_unemployed < pct_unemployed.mean())
                            &(hardship       < hardship.mean())
                            &(pct_agegroup   < pct_agegroup.mean())
                            &(pc_income      > pc_income.mean())]

df_filtered.head(15)

,COMMUNITY AREA NAME,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT OF HOUSING CROWDED,PERCENT AGED 16+ UNEMPLOYED,HARDSHIP INDEX,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
3,Lincoln Square,10.9,13.4,3.4,8.2,17.0,25.5,37524
4,North Center,7.5,4.5,0.3,5.2,6.0,26.2,57123
5,Lake View,11.4,2.6,1.1,4.7,5.0,17.0,60058
6,Lincoln Park,12.3,3.6,0.8,5.1,2.0,21.5,71551
7,Near North Side,12.9,2.5,1.9,7.0,1.0,22.6,88669
8,Edison Park,3.3,7.4,1.1,6.5,8.0,35.3,40959
10,Jefferson Park,8.6,13.4,2.7,12.4,25.0,35.5,27751
21,Logan Square,16.8,14.8,3.2,8.2,23.0,26.2,31908
23,West Town,14.7,12.9,2.3,6.6,10.0,21.7,43198
27,Near West Side,20.6,9.6,3.8,10.7,15.0,22.2,44689
31,Loop,14.7,3.1,1.5,5.7,3.0,13.5,65526
32,Near South Side,13.8,7.4,1.3,4.9,7.0,21.8,59077
40,Hyde Park,18.4,4.3,1.5,8.4,14.0,26.2,39056
75,O'Hare,15.4,10.9,3.6,7.1,24.0,30.3,25828
76,Edgewater,18.2,9.7,4.1,9.2,19.0,23.8,33385

In [17]:
print('After our selection based on the census data, we have narrowed down to {} communities for further consideration.'.format(df_filtered.shape[0]))

After our selection based on the census data, we have narrowed down to 15 communities for further consideration.

In [18]:
df_filtered.describe()

,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT OF HOUSING CROWDED,PERCENT AGED 16+ UNEMPLOYED,HARDSHIP INDEX,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,13.300000,8.006667,2.173333,7.326667,11.933333,24.620000,48420.133333
std,4.554433,4.406726,1.215652,2.229499,8.250253,5.925152,17952.246520
min,3.300000,2.500000,0.300000,4.700000,1.000000,13.500000,25828.000000
25%,11.150000,3.950000,1.200000,5.450000,5.500000,21.750000,35454.500000
50%,13.800000,7.400000,1.900000,7.000000,10.000000,23.800000,43198.000000
75%,16.100000,11.900000,3.300000,8.300000,18.000000,26.200000,59567.500000
max,20.600000,14.800000,4.100000,12.400000,25.000000,35.500000,88669.000000

In [19]:
# use k-means to cluster the neighborhood into 3 clusters based on all socioeconomic data
kclusters = 3
df_filtered_clustering = df_filtered.drop('COMMUNITY AREA NAME', 1)

In [20]:
#run k-means clustering
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(df_filtered_clustering)

In [21]:
#add clustering labels to comm_venues_sorted dataframe

df_filtered.insert(0, 'Demo Cluster Labels', kmeans.labels_)

df_filtered.head()

,Demo Cluster Labels,COMMUNITY AREA NAME,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT OF HOUSING CROWDED,PERCENT AGED 16+ UNEMPLOYED,HARDSHIP INDEX,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
3,0,Lincoln Square,10.9,13.4,3.4,8.2,17.0,25.5,37524
4,1,North Center,7.5,4.5,0.3,5.2,6.0,26.2,57123
5,1,Lake View,11.4,2.6,1.1,4.7,5.0,17.0,60058
6,1,Lincoln Park,12.3,3.6,0.8,5.1,2.0,21.5,71551
7,2,Near North Side,12.9,2.5,1.9,7.0,1.0,22.6,88669

In [22]:
#examine each cluster
#Cluster 1

df_filtered.loc[df_filtered['Demo Cluster Labels'] == 0, df_filtered.columns[[1] + list(range(2, df_filtered.shape[1]))]]

,COMMUNITY AREA NAME,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT OF HOUSING CROWDED,PERCENT AGED 16+ UNEMPLOYED,HARDSHIP INDEX,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
3,Lincoln Square,10.9,13.4,3.4,8.2,17.0,25.5,37524
8,Edison Park,3.3,7.4,1.1,6.5,8.0,35.3,40959
10,Jefferson Park,8.6,13.4,2.7,12.4,25.0,35.5,27751
21,Logan Square,16.8,14.8,3.2,8.2,23.0,26.2,31908
23,West Town,14.7,12.9,2.3,6.6,10.0,21.7,43198
27,Near West Side,20.6,9.6,3.8,10.7,15.0,22.2,44689
40,Hyde Park,18.4,4.3,1.5,8.4,14.0,26.2,39056
75,O'Hare,15.4,10.9,3.6,7.1,24.0,30.3,25828
76,Edgewater,18.2,9.7,4.1,9.2,19.0,23.8,33385

In [23]:
#Cluster 2
df_filtered.loc[df_filtered['Demo Cluster Labels'] == 1, df_filtered.columns[[1] + list(range(2, df_filtered.shape[1]))]]

,COMMUNITY AREA NAME,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT OF HOUSING CROWDED,PERCENT AGED 16+ UNEMPLOYED,HARDSHIP INDEX,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
4,North Center,7.5,4.5,0.3,5.2,6.0,26.2,57123
5,Lake View,11.4,2.6,1.1,4.7,5.0,17.0,60058
6,Lincoln Park,12.3,3.6,0.8,5.1,2.0,21.5,71551
31,Loop,14.7,3.1,1.5,5.7,3.0,13.5,65526
32,Near South Side,13.8,7.4,1.3,4.9,7.0,21.8,59077

In [24]:
#Cluster 3
df_filtered.loc[df_filtered['Demo Cluster Labels'] == 2, df_filtered.columns[[1] + list(range(2, df_filtered.shape[1]))]]

,COMMUNITY AREA NAME,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT OF HOUSING CROWDED,PERCENT AGED 16+ UNEMPLOYED,HARDSHIP INDEX,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME
7,Near North Side,12.9,2.5,1.9,7.0,1.0,22.6,88669

Analyze with geographic data

In [27]:
#install geocoder package

!conda install -c conda-forge geocoder --yes

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - geocoder


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2019.11.28 |       hecc5488_0         145 KB  conda-forge
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge
    openssl-1.1.1d             |       h516909a_0         2.1 MB  conda-forge
    ratelim-0.1.6              |             py_2           6 KB  conda-forge
    geocoder-1.38.1            |             py_1          53 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         2.4 MB

The following NEW packages will be INSTALLED:

    geocoder:        1.38.1-py_1       conda-forge
    ratelim:         0.1.6-py_2        conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.11.27-0                  --> 2019.11.28-hecc5488_0 conda-forge
    certifi:         2019.11.28-py36_0             --> 2019.11.28-py36_0     conda-forge

The following packages will be DOWNGRADED:

    openssl:         1.1.1d-h7b6447c_3             --> 1.1.1d-h516909a_0     conda-forge


Downloading and Extracting Packages
ca-certificates-2019 | 145 KB    | ##################################### | 100%
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
openssl-1.1.1d       | 2.1 MB    | ##################################### | 100%
ratelim-0.1.6        | 6 KB      | ##################################### | 100%
geocoder-1.38.1      | 53 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [28]:
# define a function to get coordinates

def get_latlng(community):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Chicago, Illinois'.format(community))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [29]:
# create temporary dataframe to populate the coordinates into Latitude and Longitude

import geocoder
coords = [get_latlng(community) for community in df_filtered['COMMUNITY AREA NAME'].tolist()]
df_coords = pd.DataFrame(coords, columns=['COMMUNITY LATITUDE', 'COMMUNITY LONGITUDE'])
df_coords.head(15)

    COMMUNITY LATITUDE  COMMUNITY LONGITUDE
0             41.97580            -87.68914
1             41.95411            -87.68142
2             41.93982            -87.65682
3             41.92184            -87.64744
4             41.90021            -87.63433
5             42.00789            -87.81399
6             41.97054            -87.76329
7             41.92328            -87.69810
8             41.89329            -87.65743
9             41.87301            -87.67613
10            41.87834            -87.61997
11            41.85388            -87.62711
12            41.79388            -87.59326
13            41.97959            -87.90446
14            41.98571            -87.66346

In [30]:
# merge the coordinates into the df_filtered dataframe and name the new dataframe df_geodata

df_coords['COMMUNITY AREA NAME'] = df_filtered['COMMUNITY AREA NAME'].tolist()

df_geodata = df_coords.reindex(columns= ['COMMUNITY AREA NAME', 'COMMUNITY LATITUDE', 'COMMUNITY LONGITUDE'])

df_geodata.head(15)

   COMMUNITY AREA NAME  COMMUNITY LATITUDE  COMMUNITY LONGITUDE
0       Lincoln Square            41.97580            -87.68914
1         North Center            41.95411            -87.68142
2            Lake View            41.93982            -87.65682
3         Lincoln Park            41.92184            -87.64744
4      Near North Side            41.90021            -87.63433
5          Edison Park            42.00789            -87.81399
6       Jefferson Park            41.97054            -87.76329
7         Logan Square            41.92328            -87.69810
8            West Town            41.89329            -87.65743
9       Near West Side            41.87301            -87.67613
10                Loop            41.87834            -87.61997
11     Near South Side            41.85388            -87.62711
12           Hyde Park            41.79388            -87.59326
13              O'Hare            41.97959            -87.90446
14           Edgewater            41.98571            -87.66346

In [31]:
#define a function to get nearby venues
import requests

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    venues_list = []
    for name, lat, lng in zip(names, latitudes, longitudes):

        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID,
            CLIENT_SECRET,
            VERSION,
            lat,
            lng,
            radius,
            limit)

        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']

        # return only relevant information for each nearby venue
        venues_list.append([(
            name,
            lat,
            lng,
            v['venue']['name'],
            v['venue']['location']['lat'],
            v['venue']['location']['lng'],
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['COMMUNITY AREA NAME',
                             'COMMUNITY LATITUDE',
                             'COMMUNITY LONGITUDE',
                             'Venue',
                             'Venue Latitude',
                             'Venue Longitude',
                             'Venue Category']

    return (nearby_venues)

In [32]:
#define Foursquare credentials and version #

CLIENT_ID = 'G0M1NADTKXFTFDZRVWFZHEHUUJUALLINOBZ3UAMBCEEDMZMN'
CLIENT_SECRET = 'DT0O2BO11ASLRUXOUT2CBWVIPFDKXTCCPGILGQSVQY3UVQ2K'
VERSION = '20200229'

In [33]:
#run the getNearbyVenues on each community and create a new dataframe called chicago_venues
radius = 500
limit = 100

chicago_venues = getNearbyVenues(names=df_geodata['COMMUNITY AREA NAME'], latitudes=df_geodata['COMMUNITY LATITUDE'], longitudes=df_geodata['COMMUNITY LONGITUDE'])

print('There are {} communities and {} venues in Chicago. The unique venue category count is {}.'.format(len(chicago_venues['COMMUNITY AREA NAME'].unique()), chicago_venues.shape[0], len(chicago_venues['Venue Category'].unique())))

There are 15 communities and 699 venues in Chicago. The unique venue category count is 201.

In [34]:
#let's see if hardware store is in the venue categories

chicago_venues[chicago_venues['Venue Category'].str.contains('Hardware', na=False)]

,COMMUNITY AREA NAME,COMMUNITY LATITUDE,COMMUNITY LONGITUDE,Venue,Venue Latitude,Venue Longitude,Venue Category
108,Lake View,41.93982,-87.65682,Tenenbaum True Value Hardware,41.939862,-87.658113,Hardware Store

In [35]:
#let visualize the distribution of venue counts among the communities.

import matplotlib.pyplot as plt


plot1=chicago_venues["COMMUNITY AREA NAME"].value_counts().plot(kind = "bar")
plot1.set_xlabel('Community')
plot1.set_ylabel('Venue Count')

plot1

In [36]:
#now that we have the nearby venues information, let's employ one hot encoding to prepare the data for further analysis

chicago_onehot = pd.get_dummies(chicago_venues[['Venue Category']], prefix='', prefix_sep='')

chicago_onehot.head()

,Accessories Store,Airport,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Amphitheater,Antique Shop,Arcade,Argentinian Restaurant,...,Tunnel,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Yoga Studio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
#add community column back to dataframe and move it to the first column
chicago_onehot['COMMUNITY AREA NAME'] = chicago_venues['COMMUNITY AREA NAME']
fixed_columns = [chicago_onehot.columns[-1]] + list(chicago_onehot.columns[:-1])
chicago_onehot = chicago_onehot[fixed_columns]

chicago_onehot.head()

,COMMUNITY AREA NAME,Accessories Store,Airport,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Amphitheater,Antique Shop,Arcade,...,Tunnel,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Yoga Studio
0,Lincoln Square,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Lincoln Square,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Lincoln Square,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Lincoln Square,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Lincoln Square,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
#next, we are going to group rows by community and by taking the means of the frequency of occurence of each category
chicago_grouped = chicago_onehot.groupby('COMMUNITY AREA NAME').mean().reset_index()

chicago_grouped.head()

,COMMUNITY AREA NAME,Accessories Store,Airport,Airport Lounge,Airport Service,Airport Terminal,American Restaurant,Amphitheater,Antique Shop,Arcade,...,Tunnel,Vegetarian / Vegan Restaurant,Video Game Store,Video Store,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Yoga Studio
0,Edgewater,0.0,0.0,0.0,0.0,0.0,0.022222,0.0,0.044444,0.0,...,0.0,0.022222,0.000000,0.000000,0.022222,0.0,0.022222,0.000000,0.0,0.022222
1,Edison Park,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,Hyde Park,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.027778,0.000000,0.027778,0.000000,0.0,0.000000,0.027778,0.0,0.027778
3,Jefferson Park,0.0,0.0,0.0,0.0,0.0,0.031250,0.0,0.000000,0.0,...,0.0,0.000000,0.000000,0.062500,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,Lake View,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.017857,0.017857,0.017857,0.000000,0.0,0.000000,0.000000,0.0,0.000000

In [39]:
#let's print each neighborhood along with the top 5 most common venues

num_top_venues = 5

for comm in chicago_grouped['COMMUNITY AREA NAME']:
    print("----"+comm+"----")
    temp = chicago_grouped[chicago_grouped['COMMUNITY AREA NAME'] == comm].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Edgewater----
                venue  freq
0  Mexican Restaurant  0.07
1    Asian Restaurant  0.04
2        Antique Shop  0.04
3         Bus Station  0.04
4              Bakery  0.04


----Edison Park----
               venue  freq
0               Park  0.33
1       Neighborhood  0.33
2            Theater  0.33
3  Accessories Store  0.00
4      Movie Theater  0.00


----Hyde Park----
               venue  freq
0          Bookstore  0.08
1        Coffee Shop  0.08
2     Sandwich Place  0.06
3      Train Station  0.06
4  College Cafeteria  0.03


----Jefferson Park----
            venue  freq
0        Pharmacy  0.06
1  Ice Cream Shop  0.06
2     Coffee Shop  0.06
3             Bar  0.06
4     Video Store  0.06


----Lake View----
                   venue  freq
0    Japanese Restaurant  0.05
1            Coffee Shop  0.05
2                   Café  0.05
3             Bagel Shop  0.04
4  Performing Arts Venue  0.04


----Lincoln Park----
                  venue  freq
0           Pizza Place  0.07
1        Sandwich Place  0.06
2           Coffee Shop  0.06
3                   Bar  0.04
4  Gym / Fitness Center  0.04


----Lincoln Square----
               venue  freq
0                Bar  0.07
1      Hot Dog Joint  0.07
2       Liquor Store  0.05
3  Convenience Store  0.05
4        Bus Station  0.05


----Logan Square----
                venue  freq
0                 Bar  0.10
1        Cocktail Bar  0.07
2  Mexican Restaurant  0.06
3      Ice Cream Shop  0.04
4          Restaurant  0.04


----Loop----
             venue  freq
0  Harbor / Marina  0.08
1    Boat or Ferry  0.06
2             Park  0.06
3           Garden  0.04
4           Museum  0.04


----Near North Side----
                  venue  freq
0   American Restaurant  0.06
1                   Spa  0.06
2            Restaurant  0.06
3                   Gym  0.06
4  Gym / Fitness Center  0.06


----Near South Side----
                venue  freq
0  Chinese Restaurant  0.17
1        Dessert Shop  0.04
2     Bubble Tea Shop  0.04
3         Pizza Place  0.04
4       Train Station  0.03


----Near West Side----
                venue  freq
0         Coffee Shop  0.25
1  Mexican Restaurant  0.12
2         College Gym  0.12
3      Baseball Field  0.12
4       Train Station  0.12


----North Center----
         venue  freq
0          Bar  0.10
1         Bank  0.06
2  Coffee Shop  0.06
3          Pub  0.04
4     Boutique  0.04


----O'Hare----
                 venue  freq
0      Airport Service  0.11
1          Coffee Shop  0.10
2          Snack Place  0.07
3       Airport Lounge  0.06
4  American Restaurant  0.05


----West Town----
              venue  freq
0    Sandwich Place  0.10
1  Sushi Restaurant  0.07
2               Bar  0.07
3       Pizza Place  0.07
4               Pub  0.05

In [40]:
#now let's put the output into a pandas dataframe
#first, we are going to define a function to sort the venues in descending order

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    return row_categories_sorted.index.values[0:num_top_venues]

In [41]:
#Let's create a new dataframe and display the top 10 venues for each neighborhood.

num_top_venues = 10

indicators = ['st', 'nd', 'rd']

In [42]:
# create columns according to number of top venues
import numpy as np

columns = ['COMMUNITY AREA NAME']

for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [43]:
# create a new dataframe
comm_venues_sorted = pd.DataFrame(columns=columns)
comm_venues_sorted['COMMUNITY AREA NAME'] = chicago_grouped['COMMUNITY AREA NAME']

for ind in np.arange(chicago_grouped.shape[0]):
    comm_venues_sorted.iloc[ind, 1:] = return_most_common_venues(chicago_grouped.iloc[ind, :], num_top_venues)

print(comm_venues_sorted.head())

  COMMUNITY AREA NAME 1st Most Common Venue 2nd Most Common Venue  \
0           Edgewater    Mexican Restaurant           Bus Station
1         Edison Park               Theater          Neighborhood
2           Hyde Park           Coffee Shop             Bookstore
3      Jefferson Park                   Bar              Pharmacy
4           Lake View                  Café   Japanese Restaurant

  3rd Most Common Venue 4th Most Common Venue 5th Most Common Venue  \
0     Indian Restaurant      Sushi Restaurant      Asian Restaurant
1                  Park           Yoga Studio           Flower Shop
2        Sandwich Place         Train Station              Pharmacy
3           Video Store           Coffee Shop        Ice Cream Shop
4           Coffee Shop                Bakery            Bagel Shop

  6th Most Common Venue  7th Most Common Venue 8th Most Common Venue  \
0          Antique Shop                 Bakery         Deli / Bodega
1     Fish & Chips Shop    Filipino Restaurant  Fast Food Restaurant
2        Shipping Store        Bubble Tea Shop                  Café
3                  Park     Chinese Restaurant      Sushi Restaurant
4        Sandwich Place  Performing Arts Venue  Gym / Fitness Center

  9th Most Common Venue 10th Most Common Venue
0           Yoga Studio      Convenience Store
1        Farmers Market                Exhibit
2   Rental Car Location                    Gym
3           Supermarket             Restaurant
4           Pizza Place               Pharmacy

In [44]:
# use k-means to cluster the neighborhood into 3 clusters
kclusters = 3
chicago_grouped_clustering = chicago_grouped.drop('COMMUNITY AREA NAME', 1)

In [45]:
#run k-means clustering
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(chicago_grouped_clustering)

In [46]:
#add clustering labels to comm_venues_sorted dataframe

comm_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)
#comm_venues_sorted = comm_venues_sorted.drop(columns=['Cluster Labels'])

In [47]:
comm_venues_sorted.head()

,Cluster Labels,COMMUNITY AREA NAME,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,0,Edgewater,Mexican Restaurant,Bus Station,Indian Restaurant,Sushi Restaurant,Asian Restaurant,Antique Shop,Bakery,Deli / Bodega,Yoga Studio,Convenience Store
1,2,Edison Park,Theater,Neighborhood,Park,Yoga Studio,Flower Shop,Fish & Chips Shop,Filipino Restaurant,Fast Food Restaurant,Farmers Market,Exhibit
2,0,Hyde Park,Coffee Shop,Bookstore,Sandwich Place,Train Station,Pharmacy,Shipping Store,Bubble Tea Shop,Café,Rental Car Location,Gym
3,0,Jefferson Park,Bar,Pharmacy,Video Store,Coffee Shop,Ice Cream Shop,Park,Chinese Restaurant,Sushi Restaurant,Supermarket,Restaurant
4,0,Lake View,Café,Japanese Restaurant,Coffee Shop,Bakery,Bagel Shop,Sandwich Place,Performing Arts Venue,Gym / Fitness Center,Pizza Place,Pharmacy

In [48]:
#let's create a new dataframe that includes the cluster as well as the top 10 venues category for each community

chicago_merged = df_geodata.join(comm_venues_sorted.set_index('COMMUNITY AREA NAME'), on='COMMUNITY AREA NAME')

#let's drop the communities that have no value in 1st MOST COMMON VENUE column

chicago_merged = chicago_merged.dropna(how='all', subset=['1st Most Common Venue'])

chicago_merged.head()

,COMMUNITY AREA NAME,COMMUNITY LATITUDE,COMMUNITY LONGITUDE,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Lincoln Square,41.97580,-87.68914,0,Bar,Hot Dog Joint,Liquor Store,Bus Station,Convenience Store,Pizza Place,Korean Restaurant,Grocery Store,Football Stadium,Food Truck
1,North Center,41.95411,-87.68142,0,Bar,Coffee Shop,Bank,Dive Bar,Pub,Pharmacy,Mobile Phone Shop,Boutique,American Restaurant,Latin American Restaurant
2,Lake View,41.93982,-87.65682,0,Café,Japanese Restaurant,Coffee Shop,Bakery,Bagel Shop,Sandwich Place,Performing Arts Venue,Gym / Fitness Center,Pizza Place,Pharmacy
3,Lincoln Park,41.92184,-87.64744,0,Pizza Place,Sandwich Place,Coffee Shop,Gym / Fitness Center,Bar,Taco Place,Breakfast Spot,Mexican Restaurant,Vietnamese Restaurant,Art Gallery
4,Near North Side,41.90021,-87.63433,0,Gym / Fitness Center,Gym,Restaurant,Spa,American Restaurant,Bar,Breakfast Spot,Sandwich Place,Pub,Pool

In [49]:
#let's install folium package before we can create a map using folium

!conda install -c conda-forge folium=0.5.0 --yes
import folium

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.0.1               |             py_0         575 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    branca-0.4.0               |             py_0          26 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         673 KB

The following NEW packages will be INSTALLED:

    altair:  4.0.1-py_0 conda-forge
    branca:  0.4.0-py_0 conda-forge
    folium:  0.5.0-py_0 conda-forge
    vincent: 0.4.4-py_1 conda-forge


Downloading and Extracting Packages
altair-4.0.1         | 575 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
branca-0.4.0         | 26 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [50]:
#create map
chicago_coort = (41.8336, -87.8720)
latitude = chicago_coort[0]
longitude = chicago_coort[1]

map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

In [51]:
# set color scheme for the clusters

import matplotlib.cm as cm
import matplotlib.colors as colors

x = np.arange(kclusters)
ys = [i + x + (i * x) ** 2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

In [52]:
# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(chicago_merged['COMMUNITY LATITUDE'], chicago_merged['COMMUNITY LONGITUDE'],
                                  chicago_merged['COMMUNITY AREA NAME'], chicago_merged['Cluster Labels'].astype('int64')):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster - 1],
        fill=True,
        fill_color=rainbow[cluster - 1],
        fill_opacity=0.7).add_to(map_clusters)

In [55]:
map_clusters

In [56]:
for i in range(kclusters):
    cluster_i = chicago_merged.loc[chicago_merged['Cluster Labels'] == i, chicago_merged.columns[[0] + list(range(4, chicago_merged.shape[1]))]]
    print('The number of communities in Cluster #{} is: '.format(i), cluster_i.shape[0])

The number of communities in Cluster #0 is:  13
The number of communities in Cluster #1 is:  1
The number of communities in Cluster #2 is:  1

In [57]:
#examine each cluster
#Cluster 1

chicago_merged.loc[chicago_merged['Cluster Labels'] == 0, chicago_merged.columns[[0] + list(range(4, chicago_merged.shape[1]))]]

,COMMUNITY AREA NAME,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Lincoln Square,Bar,Hot Dog Joint,Liquor Store,Bus Station,Convenience Store,Pizza Place,Korean Restaurant,Grocery Store,Football Stadium,Food Truck
1,North Center,Bar,Coffee Shop,Bank,Dive Bar,Pub,Pharmacy,Mobile Phone Shop,Boutique,American Restaurant,Latin American Restaurant
2,Lake View,Café,Japanese Restaurant,Coffee Shop,Bakery,Bagel Shop,Sandwich Place,Performing Arts Venue,Gym / Fitness Center,Pizza Place,Pharmacy
3,Lincoln Park,Pizza Place,Sandwich Place,Coffee Shop,Gym / Fitness Center,Bar,Taco Place,Breakfast Spot,Mexican Restaurant,Vietnamese Restaurant,Art Gallery
4,Near North Side,Gym / Fitness Center,Gym,Restaurant,Spa,American Restaurant,Bar,Breakfast Spot,Sandwich Place,Pub,Pool
6,Jefferson Park,Bar,Pharmacy,Video Store,Coffee Shop,Ice Cream Shop,Park,Chinese Restaurant,Sushi Restaurant,Supermarket,Restaurant
7,Logan Square,Bar,Cocktail Bar,Mexican Restaurant,Pizza Place,Restaurant,Ice Cream Shop,Discount Store,Donut Shop,Coffee Shop,Fast Food Restaurant
8,West Town,Sandwich Place,Pizza Place,Bar,Sushi Restaurant,Yoga Studio,Theater,Deli / Bodega,Pub,Burger Joint,Coffee Shop
10,Loop,Harbor / Marina,Park,Boat or Ferry,Ice Cream Shop,Concert Hall,Sushi Restaurant,Museum,Coffee Shop,Garden,Sandwich Place
11,Near South Side,Chinese Restaurant,Pizza Place,Dessert Shop,Bubble Tea Shop,Bakery,Rental Car Location,Nightclub,Grocery Store,Caribbean Restaurant,Candy Store
12,Hyde Park,Coffee Shop,Bookstore,Sandwich Place,Train Station,Pharmacy,Shipping Store,Bubble Tea Shop,Café,Rental Car Location,Gym
13,O'Hare,Airport Service,Coffee Shop,Snack Place,Airport Lounge,American Restaurant,Accessories Store,Bar,Tea Room,Tex-Mex Restaurant,Dessert Shop
14,Edgewater,Mexican Restaurant,Bus Station,Indian Restaurant,Sushi Restaurant,Asian Restaurant,Antique Shop,Bakery,Deli / Bodega,Yoga Studio,Convenience Store

In [58]:
#Cluster 2

chicago_merged.loc[chicago_merged['Cluster Labels'] == 1, chicago_merged.columns[[0] + list(range(4, chicago_merged.shape[1]))]]

,COMMUNITY AREA NAME,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
9,Near West Side,Coffee Shop,Mexican Restaurant,Sandwich Place,College Gym,Baseball Field,Fast Food Restaurant,Train Station,Flower Shop,Fish & Chips Shop,Filipino Restaurant

In [59]:
#Cluster 3

chicago_merged.loc[chicago_merged['Cluster Labels'] == 2, chicago_merged.columns[[0] + list(range(4, chicago_merged.shape[1]))]]

,COMMUNITY AREA NAME,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
5,Edison Park,Theater,Neighborhood,Park,Yoga Studio,Flower Shop,Fish & Chips Shop,Filipino Restaurant,Fast Food Restaurant,Farmers Market,Exhibit